<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Mohsini Electronics</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
		
		
		 <div class = "header">
			<h1>Contact Us</h1>
			<p>We value our customers!</p>
		</div>
		
		
	
		<div class="contact">
			<h2>Get in Touch</h2>
			<p>Reach out to us via any of the methods below:</p>
			<strong>Phone Number:</strong> (555)123-4567 </br>
			<strong>Email:</strong> support@electronics.com <br>
			<strong>Address:</strong> 1234 Lane, Tempe, AZ 
			
        <h3>Find us on Social Media</h3>
        
            <a href="https://facebook.com" target="_blank"><img src= "../images/facebook Logo.png" 
				width = "50px" heihgt = "50px" alt="Facebook"></a>
            <a href="https://twitter.com" target="_blank"><img src="../images/twitter Logo.png"
				width = "50px" heihgt = "50px" alt="Twitter"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram Logo.png" 
				width = "50px" heihgt = "50px"	alt="Instagram"></a>
            <a href="https://linkedin.com" target="_blank"><img src="../images/linkedin Logo.png" 
				width = "50px" heihgt = "50px"	alt="LinkedIn"></a>
            <a href="https://yelp.com" target="_blank"><img src="../images/yelp Logo.png" 
			   width = "50px" heihgt = "50px"	alt="Yelp"></a>
        </div>
		
		<div class = "center">
		<a href="index.html" class = "button">Home Page</a> 
		<a href="products.html" class = "button">Make a Purchase</a>
		</div>
		  

    <div class = "footer">
        <p>&copy; 2024 Mohsini Electronics. All rights reserved.</p>
    </div>
</body>
</html>
