<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Mohsini Electronics</title>

    <style>
        
        body {
            background-color: white;
        }

        div.header{
           position: fixed;
           top:0px;
           left:0px;
           width: 100%;
           background-color:slateblue;
           color: white;
           text-align: center;
           display:block;
        }


        .button {
            text-align:center;
            display: inline-block;
            margin: 10px 0;
            padding: 8px 16px;
            background: #0078d7;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }


        div.center {
            text-align:center;
            display:block;
            margin-top:40px;
            
        }   


        img.logo {
            display:inline;
            margin-top:120px;
        }


        div.a {
            text-align:center;
        }

        div.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:slateblue;
            color: white;
            text-align: center;
        }


</style>

</head>
    <body>
		
		<div class = "header">
		<h1>Mohsini Electronics</h1>
        <p>Your one-stop shop for cutting-edge electronics!</p>
		</div>

		<img src="../images/logo.png" alt="Mohsini Electronics Logo"  class="logo" width = 150px; height = 100px;> 

	
	<div class = "center">
		<h2>Welcome to Mohsini Electronics</h2>
		<p>Explore our high-quality products designed to bring the future to you today.</p>
        <a href="contact" class="button">Contact Us</a>
        <a href="products" class="button">Products List</a>
    </div>

	

    <div class = "footer">
        <p>&copy; 2024 Mohsini Electronics. All rights reserved.</p>
    </div>
</body>
	
</html>
